@import "~src/app/styles/base/_variables.styl"
header
  .logo
    height 80px
    display flex
    flex-flow row wrap
    justify-content center
    align-items center

    img
      width 100%
      max-width 100px
      max-height 100%

