@import "~src/app/styles/base/_variables"

.character
  border-bottom 1px solid $red
  display flex
  flex-flow row nowrap
  align-items center
  padding 10px
  font-size 1.15em
  border-radius 0 0 4px 4px

  &__id
    margin 0 10px 0 0
    color $default
