@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import '~src/app/styles/base/_variables'

*
  margin 0
  padding 0
  box-sizing border-box

body
  min-height 100vh
  background url('/assets/stars.gif')
  font-family 'Oxygen', sans-serif
